<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-body-secondary">
      <form class="container-fluid justify-content-end">
        <%= link_to "All lists", lists_path, class: "btn btn-outline-primary me-3" %>
        <button class="btn btn-outline-success me-2" type="button">Add a new list</button>
      </form>
    </nav>

  <%= image_tag "movie_theater.avif", alt: "Movie theater" width: 200%>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
