<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-body-secondary">
      <form class="container-fluid justify-content-end">
        <%= link_to "All lists", lists_path, class: "btn btn-outline-primary me-3" %>
        <%= link_to "New list", new_list_path, class:"btn btn-outline-success me-2" %>
      </form>
    </nav>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
